{{> layout/header}}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <h1>메인 페이지</h1>
            <hr>
            <p>블로그 서비스에 오신 것을 환영합니다.</p>
        </div>
    </div>
</div>

{{> layout/footer}}
